/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-size: 100%;
  /* 1 */
    -webkit-text-size-adjust: 100%;
  /* 2 */
    -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
    border: 0;
  /* 1 */
    -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0;
  /* 1 */
    padding: 0;
    white-space: normal;
  /* 2 */
    *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
    font-size: 100%;
  /* 1 */
    margin: 0;
  /* 2 */
    vertical-align: baseline;
  /* 3 */
    *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
  /* 2 */
    cursor: pointer;
  /* 3 */
    *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
  /* 1 */
    padding: 0;
  /* 2 */
    *height: 13px;
  /* 3 */
    *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto;
  /* 1 */
    vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.4rem;
    color: #fff;
}

body.no-scroll {
    overflow: hidden;
}

@media (max-width: 991px) {
    .show-sidebar {
        overflow: hidden;
    }
}

.body {
    background-color: #181818;
    color: #fff;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Blocks */
.page--blog {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

@media (max-width: 991px) {
    .show-sidebar .page--blog {
        position: relative;
    }
}

.page__title {
    margin-bottom: 2rem;
    font-size: 2.1rem;
    color: #fff;
}

.page__title--center {
    text-align: center;
}

@media (max-width: 991px) {
    .page__mask {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }
}

.header {
    background: rgba(0, 0, 0, 0.3);
    padding: 1.2rem 0;
}

.header__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 991px) {
    .header__inner {
        display: block;
    }
}

.main--blog {
    padding: 10rem 0 8rem 300px;
}

@media (max-width: 991px) {
    .main--blog {
        padding: 7rem 0 5rem;
    }
}

.preview {
    height: 100vh;
    background: url(../images/header-bg.jpg) no-repeat center top/cover;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .preview {
        background-position: left;
        background-size: cover;
    }
}

.preview__title {
    font-size: 4.4rem;
    margin-bottom: 3rem;
    font-weight: 500;
}

@media (max-width: 991px) {
    .preview__title {
        font-size: 3.8rem;
    }
}

.preview__text {
    font-size: 2.5rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 3rem;
}

@media (max-width: 991px) {
    .preview__text {
        font-size: 2rem;
    }
}

.preview__avatar {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 2rem;
}

.preview__avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .container {
        width: 98%;
        padding-left: 0;
        padding-right: 0;
    }
}

.user {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 991px) {
    .user {
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
}

.user__avatar {
    width: 57px;
    height: 57px;
}

.user__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user__content {
    color: #000;
    line-height: 1.2;
    padding-left: 1rem;
}

.user__name {
    font-size: 1.6rem;
    font-weight: 700;
}

.user__prof {
    font-size: 1.2rem;
    color: #6a696b;
}

.nav {
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 991px) {
    .nav {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.nav__link {
    margin-left: 4rem;
    position: relative;
    color: #000;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.nav__link::after {
    content: "";
    width: 0;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    transition: width .2s linear;
}

.nav__link:hover, .nav__link.active {
    text-decoration: none;
}

.nav__link:hover::after, .nav__link.active::after {
    width: 100%;
}

.nav__link--footer {
    color: #8d8d8e;
}

.nav__link--footer::after {
    content: "";
    width: 0;
    height: 2px;
    background: #db9c9c;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    transition: width .2s linear;
}

@media (max-width: 991px) {
    .nav__link {
        margin-left: 0;
        padding: 1.2rem;
    }
}

.btn {
    background: none;
    border: 1px solid #fff;
    padding: 1rem 4rem;
    border-radius: 3px;
    font-size: 2.2rem;
    color: #000;
    transition: all .2s linear;
}

.btn.active {
    background: #2b2a2c;
    color: #fff;
}

.btn.active:hover {
    background: none;
    color: #6a696b;
}

.btn--preview-hover:hover {
    text-decoration: none;
    background: #fff;
    color: red;
}

.btn--intro {
    display: block;
    border-radius: 20px;
    border: 1px solid #000;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.6rem;
    color: #6a696b;
}

.btn--intro:hover {
    background: #2b2a2c;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 991px) {
    .btn--intro {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.btn--w {
    width: 17.5rem;
    position: absolute;
    bottom: 0;
}

@media (max-width: 991px) {
    .btn--w {
        position: static;
    }
}

.btn--seePost {
    display: block;
    text-align: right;
    font-size: 1.8rem;
    margin-top: 3rem;
    text-decoration: underline;
    color: #000;
}

@media (max-width: 991px) {
    .btn--seePost {
        text-align: center;
    }
}

.btn--center {
    text-align: center;
    font-size: 1.2rem;
    padding: .9rem;
}

.intro__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 4.2rem;
    border-bottom: 1px solid #f1f1f1;
}

@media (max-width: 991px) {
    .intro__inner {
        display: block;
        text-align: center;
    }
}

.intro__content {
    color: #000;
    line-height: 1.4;
}

.intro__subtitle {
    font-size: 3.2rem;
    font-weight: 200;
}

.intro__title {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.intro__text {
    color: #6a696b;
    font-size: 1.8rem;
    font-weight: 300;
}

.intro__button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 4rem;
}

.intro__button button a {
    color: inherit;
}

@media (max-width: 991px) {
    .intro__button {
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 auto 4rem;
        width: 40%;
        display: block;
    }
}

@media (max-width: 575px) {
    .intro__button {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .intro__photo {
        display: none;
    }
}

.social {
    padding-top: 2rem;
}

.social__link {
    font-size: 3rem;
    margin-right: 1.2rem;
}

.social__link--linkedin {
    color: #0274b3;
}

.social__link--instagram {
    color: #e26549;
}

.social__link--facebook {
    color: #4267b2;
}

.works {
    padding: 2.8rem 0;
}

.works__nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.works__nav-link {
    margin: 0 1.2rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    border: 1px solid #000;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    transition: all .2s linear;
}

.works__nav-link:hover {
    text-decoration: none;
    background: #000;
    color: #fff;
}

.portfolio {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -1rem;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 2rem;
}

@media (max-width: 991px) {
    .portfolio {
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
    }
}

.portfolio__col {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    padding: 2rem;
    color: #000;
}

@media (max-width: 991px) {
    .portfolio__col {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        padding: 1rem;
    }
}

@media (max-width: 575px) {
    .portfolio__col {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 0;
    }
}

.work {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow .2s linear;
}

.work:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.work__image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
}

.work__content {
    padding: 1rem 0.8rem;
}

.work__cat {
    margin-bottom: 0.5rem;
    font-size: .8rem;
    color: #000;
    text-transform: uppercase;
}

.work__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.06rem;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.work__link:hover {
    text-decoration: none;
}

.work__modal {
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
    background-color: #202020;
    border-radius: 5px;
}

@media (max-width: 575px) {
    .work__modal {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.work__preview-modal {
    width: 90%;
}

.work__preview-modal img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 575px) {
    .work__preview-modal {
        width: 100%;
    }
}

.work__content-modal {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 60%;
    padding: 2.5rem;
}

@media (max-width: 575px) {
    .work__content-modal {
        max-width: none;
        padding: 1.5rem;
        width: 100%;
    }
}

.work__title-modal {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 500;
}

.work__title-modal a {
    color: inherit;
}

@media (max-width: 991px) {
    .work__title-modal {
        font-size: 1.8rem;
    }
}

@media (max-width: 575px) {
    .work__title-modal {
        margin-bottom: 1rem;
    }
}

.work__description-modal {
    font-size: 1.6rem;
    color: #D2D2D2;
    line-height: 1.68;
    margin-bottom: 3rem;
}

@media (max-width: 991px) {
    .work__description-modal {
        font-size: 1.2rem;
    }
}

@media (max-width: 575px) {
    .work__description-modal {
        margin-bottom: 2rem;
        font-size: 1.4rem;
    }
}

.work__footer {
    margin-top: auto;
    text-align: right;
}

@media (max-width: 575px) {
    .work__footer {
        text-align: left;
    }
}

.about {
    padding-bottom: 5rem;
}

.about__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #000;
    border-bottom: 1px solid #f1f1f1;
}

@media (max-width: 991px) {
    .about__wrapper {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .about__img {
        display: none;
    }
}

.about__content {
    width: 100%;
    max-width: 50rem;
}

@media (max-width: 991px) {
    .about__content {
        max-width: 80%;
    }
}

@media (max-width: 575px) {
    .about__content {
        max-width: 100%;
    }
}

.about__title {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 575px) {
    .about__title {
        font-size: 3.5rem;
    }
}

.about__subtitle {
    font-size: 9.2rem;
    color: #dedede;
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 575px) {
    .about__subtitle {
        font-size: 6rem;
    }
}

.about__description {
    font-weight: normal;
    font-size: 1.2rem;
    color: #dedede;
    margin-bottom: 5.5rem;
    line-height: 2;
}

.about__button {
    display: -ms-flexbox;
    display: flex;
}

.about__button button {
    margin-right: 1.4rem;
}

.about__button button a {
    color: inherit;
}

@media (max-width: 991px) {
    .about__button {
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 4rem;
        display: block;
        text-align: center;
    }
}

.read {
    color: #000;
    margin-bottom: 12rem;
}

.read__title {
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.read__subtitle {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 6rem;
}

.blog__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

.blog__block {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    padding: 1.5rem;
    color: #000;
}

.blog__block img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 991px) {
    .blog__block {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
}

@media (max-width: 575px) {
    .blog__block {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

.blog__title {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.blog__category {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.blog__description {
    line-height: 2.2;
    font-size: 1.2rem;
    margin-bottom: 6rem;
}

.modal {
    display: none;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    overflow: auto;
}

.modal.show {
    display: -ms-flexbox;
    display: flex;
}

.modal__content {
    width: 40%;
    position: relative;
    background-color: #202020;
    border-radius: 5px;
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

@media (max-width: 991px) {
    .modal__content {
        width: 100% !important;
        padding: 0;
    }
}

.modal__content--contact {
    padding-bottom: 8rem;
}

.modal__content--story {
    padding: 0;
    background: none;
}

.modal__content--width-work3 {
    width: 60%;
}

.modal__content--width-work4 {
    width: 67%;
}

.modal__content--width-contact-modal {
    width: 100%;
    max-width: 500px;
    padding: 8rem 8rem 2.5rem;
}

.modal__video {
    display: block;
    margin: 0 auto;
}

.modal__close {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    opacity: .5;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: opacity .2s linear, -webkit-transform .2s linear;
    transition: transform .2s linear, opacity .2s linear;
    transition: transform .2s linear, opacity .2s linear, -webkit-transform .2s linear;
}

.modal__close:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 1;
}

.modal__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 4rem;
    font-size: 1.2rem;
    color: #B2B2B2;
}

.modal__footer li {
    margin: 0 .5rem;
}

.modal__footer a {
    text-decoration: underline;
    color: inherit;
}

.modal__footer a:hover {
    text-decoration: none;
}

.tags {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.tags__item {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.4rem 0.9rem;
    background-color: #EA8C1E;
    border-radius: 3px;
    font-size: 1.1rem;
    line-height: 1.3;
    color: #fff;
    text-align: center;
}

@media (max-width: 991px) {
    .tags__item {
        font-size: 1rem;
    }
}

.footer {
    background: #2b2a2c;
}

.footer__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5rem 0;
}

@media (max-width: 991px) {
    .footer__wrapper {
        display: block;
    }
}

.footer__left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 991px) {
    .footer__left {
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
}

.footer__title {
    color: #8d8d8e;
    font-size: 1.4rem;
    margin-right: 1.5rem;
}

.footer__social {
    padding-top: 0;
}

.header-blog {
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 300px);
    background-color: #0D0D0D;
    box-shadow: 0 5px 22px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

@media (max-width: 991px) {
    .header-blog {
        width: 100%;
    }
}

.header-blog__left {
    width: 60%;
}

@media (max-width: 991px) {
    .header-blog__left {
        width: 40%;
    }
}

.header-blog__right {
    width: 40%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (max-width: 991px) {
    .header-blog__right {
        width: 60%;
    }
}

.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #202020;
    box-shadow: 5px 0 15px rgba(5, 5, 5, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

@media (max-width: 991px) {
    .sidebar {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        height: calc(100vh - 4rem);
        padding-bottom: 1.5rem;
        overflow: auto;
        top: 4rem;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: -webkit-transform .2s linear;
        transition: transform .2s linear;
        transition: transform .2s linear, -webkit-transform .2s linear;
    }

    .show-sidebar .sidebar {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.sidebar__header {
    height: 180px;
    background-color: #121212;
}

.sidebar__header img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 991px) {
    .sidebar__header {
        height: 10rem;
    }
}

.sidebar__content {
    padding: 0 2rem;
}

@media (max-width: 991px) {
    .sidebar__content {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

.sidebar__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 13px;
    grid-template-rows: 195px;
    margin-bottom: 3rem;
}

@media (max-width: 575px) {
    .stories {
        grid-template-columns: 140px 140px 140px 140px;
        overflow: auto;
    }
}

.stories__item {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.stories__item:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.stories__item:hover .stories__preview {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition-duration: .6s;
}

.stories__preview {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.stories__title,
.stories__date {
    font-size: 1.2rem;
    color: #fff;
    padding: 1.4rem;
    font-size: 1.2rem;
    line-height: 1.3;
    position: absolute;
    left: 0;
    z-index: 3;
}

.stories__title {
    top: 0;
}

.stories__date {
    bottom: 0;
    right: 0;
    text-align: right;
}

.nav-blog--mobile {
    display: none;
    margin: 3rem 0;
}

@media (max-width: 991px) {
    .nav-blog {
        display: none;
    }

    .nav-blog--mobile {
        display: block;
    }
}

.nav__list-blog {
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 991px) {
    .nav__list-blog {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.nav__item-blog {
    position: relative;
}

.nav__item-blog:hover .nav__link-blog {
    background-color: blue;
    text-decoration: none;
}

.nav__item-blog:hover > .subnav {
    display: block;
}

@media (max-width: 991px) {
    .nav__item-blog:hover .nav__link-blog {
        background: none;
    }
}

.nav__link-blog {
    display: block;
    padding: 1.32rem;
    font-size: 1.1rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
    transition: background-color .2s linear;
}

.nav__link-blog:hover {
    background-color: blue;
}

.nav__link-blog.has-subnav {
    position: relative;
    padding-right: 3.5rem;
}

.nav__link-blog.has-subnav:after {
    content: "";
    display: block;
    margin-top: 1px;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #007bff transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 1.35rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991px) {
    .nav__link-blog {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.4rem;
    }
}

.subnav {
    display: none;
    width: 16.5rem;
    padding: .5rem 0;
    background: blue;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 0;
}

@media (max-width: 991px) {
    .subnav {
        position: static;
        width: 100%;
        padding-left: 1rem;
        background-color: transparent;
        box-shadow: none;
    }
}

.subnav__link-blog {
    display: block;
    padding: .45rem 1.25rem;
    font-size: 1.2rem;
    color: #fff;
    transition: background-color .2s ease-in-out;
}

.subnav__link-blog:hover {
    background-color: #0000e6;
    text-decoration: none;
}

@media (max-width: 991px) {
    .subnav__link-blog {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.3rem;
    }

    .subnav__link-blog:hover {
        background: none;
    }
}

.search {
    width: 100%;
    max-width: 21rem;
    background-color: #202020;
}

.search__input {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    padding: 1.2rem 2rem;
    font-family: inherit;
    font-size: 1.2rem;
    color: #fff;
}

.search__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.search__input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.search__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.search__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.search__input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 991px) {
    .search__input {
        height: 4rem;
        padding-top: .9rem;
        padding-bottom: .9rem;
        font-size: 1.5rem;
    }
}

.form--auth {
    max-width: 28rem;
    margin: 0 auto;
}

.form__group {
    margin-bottom: .5rem;
    position: relative;
}

.form__group--md {
    margin-bottom: 2.5rem;
}

.form__control {
    display: block;
    width: 100%;
    padding: .5rem 0 .75rem;
    background: none;
    border: none;
    border-bottom: 1px solid #3F3F3F;
    border-radius: 0;
    box-shadow: none;
    font-family: inherit;
    font-size: 1.4rem;
    color: #fff;
}

.form__control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control::placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control:focus + .form__line {
    width: 100%;
}

.form__control--textarea {
    height: 30px;
    overflow: hidden;
    resize: none;
}

.form__line {
    width: 0;
    height: 1px;
    background-color: blue;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: width .2s linear;
    -webkit-transition: width .2s linear;
    -moz-transition: width .2s linear;
    -ms-transition: width .2s linear;
    -o-transition: width .2s linear;
}

.form__footer--center {
    text-align: center;
}

.form__footer-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.2;
}

.form__footer-list li {
    margin: 0  .5rem;
}

.form__footer-list a {
    color: #fff;
}

.profile {
    margin-top: -5rem;
}

@media (max-width: 991px) {
    .profile {
        margin-top: -1.5rem;
        position: relative;
        border-bottom: 1px solid #1c1c1c;
    }
}

.profile__avatar {
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto 2rem;
    border: 2px solid #fff;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: relative;
    background-image: url(F:\Sanchik\Web\project\personal-blog\src\assets\images\photo-profile.jpg);
}

@media (max-width: 991px) {
    .profile__avatar {
        width: 6.5rem;
        height: 6.5rem;
        margin-left: 0;
        position: absolute;
        left: 0;
    }
}

.profile__header {
    margin-bottom: 2rem;
    text-align: center;
}

@media (max-width: 991px) {
    .profile__header {
        padding-top: 2rem;
        padding-left: 8rem;
        text-align: left;
    }
}

.profile__name {
    font-size: 1.8rem;
}

@media (max-width: 991px) {
    .profile__name {
        font-size: 1.5rem;
    }
}

.profile__prof {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: #DEDEDE;
}

@media (max-width: 991px) {
    .profile__prof {
        font-size: 1.2rem;
    }
}

.profile__text {
    padding: 3rem 0;
    margin: 3rem 0;
    font-size: 1.2rem;
    text-align: center;
    border-top: 1px solid #5c5959;
    border-bottom: 1px solid #5c5959;
}

@media (max-width: 991px) {
    .profile__text {
        display: none;
    }
}

.social-blog {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .social-blog {
        display: none;
    }
}

.social__item-blog {
    margin: 0 .75rem;
}

.container-blog {
    max-width: 70rem;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

@media (max-width: 575px) {
    .container-blog {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.btn-blog {
    display: inline-block;
    vertical-align: top;
    padding: 1.1em 2.1em;
    margin-top: 1.5rem;
    background: #121212;
    border: none;
    cursor: pointer;
    border-radius: 3em;
    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
    color: #fff;
    transition: background-color .2s linear;
}

.btn-blog:hover {
    text-decoration: none;
}

.btn-blog--red {
    background-color: red;
    box-shadow: 0 7px 17px -10px rgba(255, 0, 0, 0.3);
}

.btn-blog--red:hover, .btn-blog--red:focus {
    background-color: #e60000;
}

.btn-blog--blue {
    background-color: blue;
    box-shadow: 0 7px 17px -10px rgba(0, 0, 255, 0.3);
}

.btn-blog--blue:hover, .btn-blog--blue:focus {
    background-color: #0000e6;
}

.btn-blog--rounded {
    border-radius: 0.41em;
}

.btn-blog--sm {
    padding: 0.66em 1.25em;
}

.burger {
    display: none;
    width: 3rem;
    height: 2rem;
    padding: 0;
    background: none;
    border: 0;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.burger:before, .burger:after,
  .burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.burger:before, .burger:after {
    content: "";
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
    -webkit-transition: transform .2s linear;
    -moz-transition: transform .2s linear;
    -ms-transition: transform .2s linear;
    -o-transition: transform .2s linear;
}

.burger:before {
    top: 0;
}

.burger:after {
    bottom: 0;
}

.burger span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: opacity .2s linear;
}

.show-sidebar .burger span {
    opacity: 0;
}

.show-sidebar .burger:before, .show-sidebar .burger:after {
    top: 50%;
}

.show-sidebar .burger:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.show-sidebar .burger:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

@media (max-width: 991px) {
    .burger {
        display: block;
    }
}

.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;
    background-color: #121212;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
}

@media (max-width: 575px) {
    .add-post {
        padding: 1.5rem;
    }
}

.add-post__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}

.add-post__textarea {
    display: block;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 34px;
    overflow: hidden;
    border: none;
    background: transparent;
    resize: none;
    font-size: 1.5rem;
    color: #fff;
    font-family: inherit;
}

.add-post__textarea::-webkit-input-placeholder {
    color: #D2D2D2;
}

.add-post__textarea::-moz-placeholder {
    color: #D2D2D2;
}

.add-post__textarea:-ms-input-placeholder {
    color: #D2D2D2;
}

.add-post__textarea::-ms-input-placeholder {
    color: #D2D2D2;
}

.add-post__textarea::placeholder {
    color: #D2D2D2;
}

.add-post__form-actions {
    width: 120px;
    -ms-flex-negative: none;
    flex-shrink: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (max-width: 575px) {
    .add-post__form-actions {
        width: 9rem;
    }
}

.add-post__file,
.add-post__send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .2s linear;
}

@media (max-width: 575px) {
    .add-post__file,
    .add-post__send {
        width: 3.4rem;
        height: 3.4rem;
    }
}

.add-post__file {
    background: #EBEBEB url(../images/add-photo.svg) center no-repeat;
}

.add-post__file input {
    display: none;
}

.add-post__file:hover {
    background-color: #dedede;
}

@media (max-width: 575px) {
    .add-post__file {
        background-size: 18px;
    }
}

.add-post__send {
    margin-left: 1.5rem;
    font-size: 0;
    color: transparent;
    background: blue url(../images/send.svg) center no-repeat;
    background-color: blue;
}

.add-post__send:hover {
    background-color: #0000e6;
}

@media (max-width: 575px) {
    .add-post__send {
        background-size: 15px;
    }
}

.post {
    margin-bottom: 3rem;
    padding: 2.5rem;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
    background-color: #202020;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media (max-width: 575px) {
    .post {
        padding: 1.5rem;
    }
}

.post__content {
    margin-bottom: 2rem;
}

.post__subtitle {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
}

.post__description {
    font-size: 1.4rem;
    color: #D2D2D2;
}

.post__text {
    font-size: 1.4rem;
    color: #fff;
    border-bottom: 1px solid #5c5959;
}

.post__text h2,
  .post__text h3,
  .post__text h4,
  .post__text h5,
  .post__text h6 {
    font-weight: 700;
    margin-bottom: 2rem;
}

.post__text h2 {
    font-size: 1.5em;
}

.post__text h3 {
    font-size: 1.25em;
}

.post__text h4 {
    font-size: 1.15em;
}

.post__text h5,
  .post__text h6 {
    font-size: 1em;
}

.post__text ul,
  .post__text ol {
    margin-bottom: 2rem;
}

.post__text ol {
    list-style: decimal;
    list-style-position: inside;
}

.post__text p {
    margin-bottom: 2rem;
}

.post__text a {
    color: blue;
}

.post__text a:hover {
    text-decoration: underline;
}

.post__text table {
    margin-bottom: 2rem;
    width: 100%;
}

.post__text img {
    display: block;
    max-width: 100%;
    height: auto;
}

.post__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 575px) {
    .post__footer {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.post__data {
    display: -ms-flexbox;
    display: flex;
    color: #828282;
    line-height: 1.1;
}

.post__data a {
    color: inherit;
}

.post__data a:hover {
    text-decoration: underline;
}

@media (max-width: 575px) {
    .post__data {
        margin-bottom: 1.3rem;
        font-size: 1.2rem;
    }
}

.post__header {
    margin: 0 0 2.5rem;
}

.post__header--preview {
    margin: -2.5rem -2.5rem 2.5rem;
}

.post__preview {
    display: block;
    min-width: 100%;
    height: auto;
}

.post__title {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.post__title a {
    color: inherit;
}

.post__title a:hover {
    text-decoration: underline;
}

.post__title--open {
    margin-bottom: .75rem;
}

@media (max-width: 575px) {
    .post__title {
        background-size: 20px;
    }
}

.post__data-item:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 1.5rem;
    border-radius: 50%;
    background-color: #C4C4C4;
    position: relative;
    top: -2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.post__read {
    color: #107EFF;
    font-size: 1.4rem;
}

.post__read:hover {
    text-decoration: underline;
}

.post__actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 1.5rem;
}

.post__actions a {
    color: inherit;
    opacity: .6;
    transition: opacity .2s linear;
}

.post__actions a:hover {
    text-decoration: underline;
    opacity: 1;
}

.post__actions-icon {
    margin-left: .5rem;
}

.embed,
.fr-video {
    display: block;
    position: relative;
    overflow: hidden;
}

.embed:before,
  .fr-video:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.embed iframe,
  .embed video,
  .embed object,
  .embed embed,
  .fr-video iframe,
  .fr-video video,
  .fr-video object,
  .fr-video embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 8rem;
}

@media (max-width: 575px) {
    .pagination {
        margin-top: 5rem;
    }
}

.pagination__item {
    margin: 0 .5rem;
}

.pagination__link {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 1.4rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    line-height: 40px;
    border-radius: 3px;
    background-color: #0D0D0D;
    color: #fff;
    transition: background-color .2s linear;
}

.pagination__link:hover {
    background-color: #333333;
}

.pagination__link.active {
    background-color: blue;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.15);
}
